{% extends "myapp/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid" style="background-image: url('/static/images/elenal0095_website_template_web_development_company_for_website_cb9c00d3-6f31-4b19-92af-55b51e7bdf96.png'); background-size: cover; color: white;">
                <div class="container" style="color: black;">
                    <h1 class="display-4">WebWhisperers</h1>
                    <p class="lead">Ваш надёжный партнёр в мире веб-разработки.</p>
                    <hr class="my-4">
                    <p>Мы специализируемся на создании современных и эффективных веб-решений для вашего бизнеса.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>О компании</h2>
            <p>Компания WebWhisperers была основана в 2023 году и с тех пор зарекомендовала себя как надёжный поставщик веб-услуг. Мы предлагаем полный спектр услуг, включая разработку сайтов, веб-дизайн, SEO-оптимизацию и техническую поддержку.</p>
            <h3>Наши услуги:</h3>
            <ul>
                <li>Разработка веб-сайтов</li>
                <li>Создание адаптивного дизайна</li>
                <li>SEO-оптимизация</li>
                <li>Техническая поддержка</li>
                <li>Веб-консалтинг</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}





