<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">WebWhisperers</h5>
        <p>
          Москва, Россия
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Контакты</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="tel:+71234567890" class="text-dark">Телефон</a>
          </li>
          <li>
            <a href="https://wa.me/71234567890" class="text-dark">WhatsApp</a>
          </li>
          <li>
            <a href="https://t.me/username" class="text-dark">Telegram</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Location</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.891646971468!2d37.620795115932226!3d55.75393098055265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab0a3a7e4d7e7%3A0xeeb21e9b9c925d3a!2sMoscow%2C%20Russia!5e0!3m2!1sen!2s!4v1625237768396!5m2!1sen!2s" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2024 WebWhisperers
  </div>
</footer>





